<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Mesa de Ayuda - Ticket RIPS Y CUENTAS MEDICAS</title>
        <link rel="stylesheet" href="../css/rips-cuentas-medicas.css">
    </head>

    <body>
        <header>
            <img src="/frontend/public/assets/img/Logo.png" alt="Logo" class="logo">
            <h1>Ticketera FOMAG</h1>
        </header>
        
        <div class="container">
            <form id="ticketForm" enctype="multipart/form-data">
            <h2>INCONSISTENCIAS EN MODULO RIPS Y CUENTAS MEDICAS</h2>
            <input type="text" name="ips" placeholder="IPS" required>
            <input type="text" name="nit" placeholder="NIT" required>
            <input type="text" name="nombre_persona" placeholder="Nombre de la persona" required>
            <input type="email" name="correo_empresarial" placeholder="Correo empresarial @fomag.com" required>
            <input type="text" name="celular" placeholder="Celular" required>
            <textarea name="observacion" placeholder="Observación" required></textarea>
            <label>Cargar Evidencias:</label>
            <input type="file" name="evidencias" multiple accept=".png,.jpg,.jpeg,.pdf,.txt,.xlsx">
            <button type="submit">Enviar Ticket</button>
            </form>
        </div>

        <footer>
            <p>© 2025 FOMAG. Todos los derechos reservados.</p>
        </footer>

        <script src="../js/rips-cuentas-medicas.js"></script>
    </body>
</html>
