<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Ticket</title>
    <link rel="stylesheet" href="../css/detalle-ticket.css"> 
</head>
<body>
    <header>
        <img src="../public/assets/img/Logo.png" alt="Logo" class="logo">
        <h1>MESA DE AYUDA FOMAG</h1>
    </header>

    <h2>Detalle del Ticket</h2>
    <main class="main-content">
        <div id="ticket-info" class="ticket-info-form">
            <!-- Aquí se cargará el formulario con los datos del ticket -->
        </div>
    </main>

    <!--<script src="../js/detalle-ticket.js"></script>-->
</body>
</html>
